db.sqlite3
MongoDB_CRUD_Operation/__pycache__/__init__.cpython-38.pyc
MongoDB_CRUD_Operation/__pycache__/settings.cpython-38.pyc
MongoDB_CRUD_Operation/__pycache__/urls.cpython-38.pyc
MongoDB_CRUD_Operation/__pycache__/wsgi.cpython-38.pyc
MongoDB_CRUD_Operation/__pycache__/settings.cpython-38.pyc
MongoDB_CRUD_Operation/.settings.py.swp
MongoDB_CRUD_Operation/__pycache__/settings.cpython-38.pyc

